[submodule "nim-skill-test"]
	path = references/nim-skill-test
	url = git@github.com:polats/nim-skill-test.git
[submodule "pi-mono"]
	path = references/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "openclaw"]
	path = references/openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "references/radio"]
	path = references/radio
	url = https://github.com/polats/radio
[submodule "references/strudel"]
	path = references/strudel
	url = https://codeberg.org/uzu/strudel.git
