[submodule "nim-skill-test"]
	path = references/nim-skill-test
	url = git@github.com:polats/nim-skill-test.git
[submodule "pi-mono"]
	path = references/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "openclaw"]
	path = references/openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "references/radio"]
	path = references/radio
	url = https://github.com/polats/radio
[submodule "references/strudel"]
	path = references/strudel
	url = https://codeberg.org/uzu/strudel.git
[submodule "references/catacombs"]
	path = references/catacombs
	url = https://github.com/urtimus-prime/catacombs
[submodule "references/hubs"]
	path = references/hubs
	url = https://github.com/Hubs-Foundation/hubs
[submodule "reference/pixel-agents"]
	path = reference/pixel-agents
	url = https://github.com/pablodelucca/pixel-agents.git
[submodule "reference/musicats"]
	path = reference/musicats
	url = https://github.com/polats/musicats.git
